{% extends 'base.html.twig' %}

{% block title %} 

    {{ title }}

{% endblock %}

{% block body %}
    <h1> Welcome to the Home Page </h1>
    <h1> This is the main content of the home page. </h1>
    <h1> Feel free to explore our website! </h1>

{% endblock %}